base-font-size = 16px

.Footer
	background none repeat scroll 0 0 #000
	border-top .5em solid #FF9900
	margin-top 3em
	color #fff
	padding-top 1em
  	
	&-image
		max-width 100%
	
	&-link
		color #FF9900
	
	&-container
		padding-top 60px