@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
html {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
.navbar-default {
  background-color: #273b47;
  border-color: #888;
}
.navbar-default .navbar-brand {
  color:#fff;
}
.navbar-default .navbar-nav > li > a {
  color:#fff;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #29546d;
  color:#fff;
}
.navbar-default .navbar-nav > li.dropdown.open > a:hover {
  background-color: #29546d;
  color:#fff;
}
.navbar-default .navbar-nav > li.dropdown.open > a {
  background-color: #29546d;
  color:#fff;
}
.bootstrap-table {
  font-size: .8em;
}
.container {
  padding-top: 54px;
}
.Footer {
  background: none repeat scroll 0 0 #000;
  border-top: 0.5em solid #f90;
  margin-top: 3em;
  color: #fff;
  padding-top: 1em;
}
.Footer-image {
  max-width: 100%;
}
.Footer-link {
  color: #f90;
}
.Footer-container {
  padding-top: 60px;
}



ul.clientes, ul.visitas {
  min-height: 50px;
  margin: 0px 25px 10px 0px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style-type: none;
  list-style-position: inside;
}
ul.clientes {
  border-color: #f8e0b1;
}
ul.visitas {
  border-color: #add38d;
}
.clientes li, .visitas li {
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.clientes li {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
}
.visitas li {
  background-color: #ebf5e6;
  border: 1px solid #d6e9c6;
  color: #468847;
}
.sortable-dragging {
  border-color: #ccc !important;
  background-color: #fafafa !important;
  color: #bbb !important;
}
.sortable-placeholder {
  height: 40px;
}
.clientes .sortable-placeholder {
  border: 2px dashed #f8e0b1 !important;
  background-color: #fefcf5 !important;
}
.visitas .sortable-placeholder {
  border: 2px dashed #add38d !important;
  background-color: #f6fbf4 !important;
}