<?xml version="1.0"?>
<config>
	<app>
		<key>748B64FC7C124606B720227DD1816B5F</key>
		<name>RHino</name>
		<company>sincco</company>
	</app>
	<front>
		<url>http://127.0.0.1/rhino/</url>
	</front>
	<bases>
		<default>
			<host>localhost</host>
			<user>rhino</user>
			<password>erRFYWQHrGi8WMWoFbSODnNxSSmhxqDmUmfXngq54kA=</password>
			<dbname>rhino</dbname>
			<type>mysql</type>
		</default>
	</bases>
	<dev>
		<log>1</log>
		<showerrors>1</showerrors>
		<showphperrors>1</showphperrors>
	</dev>
	<sesion>
		<type>DEFAULT</type>
		<name>rhino</name>
		<ssl>0</ssl>
		<inactivity>60</inactivity>
	</sesion>
</config>